.main-content-primary > a:hover {
    transition: 0.5s;
    color: var(--color-primary);
    background-color: var(--color-white);
}


.explore-content > a:hover {
    transition: 0.5s;
    color: var(--color-primary);
    background-color: var(--color-white);
}

.l-our-products > a:hover {
    transition: 0.5s;
    color: var(--color-white);
    background-color: var(--color-primary);
}

nav a:hover {
    transition: 0.3s;
    color: var(--color-primary);
    text-decoration: underline;
}